﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContentTestControl.ascx.cs" Inherits="GoodStuff.TestWeb.ContentTestControl" %>
<div style="border: 1px solid red">
    <asp:PlaceHolder ID="contentPlaceHolder" runat="server" />
</div>