﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="GoodStuff.TestWeb._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <asp:PlaceHolder ID="phTest" runat=server>
            
            </asp:PlaceHolder>
    </div>
    <gs:VersionLabel ID="versionLabel" runat="server" DebugBuildOnly="true" VersionType=AssemblyFileVersion />
    </form>
</body>
</html>
