﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestEnumDropdown.aspx.cs" Inherits="GoodStuff.TestWeb.TestEnumDropdown" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <asp:DropDownList ID="enumDropDownList"  runat="server" />
            <asp:RadioButtonList ID="rblTest"  runat="server" />
            <asp:BulletedList ID="bullet"  runat="server" />
            <asp:Button id="TheButton" runat="server"/>
    </div>
    </form>
</body>
</html>
