﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestContentControl.aspx.cs" Inherits="GoodStuff.TestWeb.TestContentControl" %>

<%@ Register src="ContentTestControl.ascx" tagname="ContentTestControl" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>        

        <uc1:ContentTestControl ID="ContentTestControl1" runat="server">
            <Content>
                Hallo wereld
            </Content>            
        </uc1:ContentTestControl>        

    </div>
    </form>
</body>
</html>
