﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestMultiSelectList.aspx.cs" Inherits="GoodStuff.TestWeb.TestMultiSelectList" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <gs:MultiSelectList ID="test" runat="server" />
        <asp:Button ID="button" runat="server" />
    </div>
    </form>
</body>
</html>
