﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestValidEmailDNS.aspx.cs" Inherits="GoodStuff.TestWeb.TestValidEmailDNS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="txtEmail" runat="server" />
        <asp:Button Text="Verify" runat="server" ID="btnVerify" />
        <asp:Label ID="lblResult" runat="server" />
    </div>
    </form>
</body>
</html>
