﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestSprites.aspx.cs" Inherits="GoodStuff.TestWeb.TestSprites" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <gs:Sprite FileName="b_icon_bignext.png" runat=server />
        <gs:Sprite FileName="b_icon_expand_mouseover.png" runat=server/>
        <gs:Sprite FileName="b_icon_price2.png" runat=server/>
    </div>
    </form>
</body>
</html>
