﻿
    <p>
    Hello world.</p>
    
    <img src='images/vitens.jpg' width="200" height="24" alt='Hello' />

    <img src="images/icon_failureaudit.png" />
      <img src="images/icon_camera.gif" />
      <img src="images/foto_vergunninghouder.jpg" />
       <img src="images/vitens.jpg" />